{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "arrowParens": "avoid",
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "vueIndentScriptAndStyle": false,
    "htmlWhitespaceSensitivity": "ignore",
    "endOfLine": "auto"
}
